*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    font-family:'Roboto', sans-serif;
}

html{
    scroll-behavior: smooth;
}

/* Inicio Header */
.nav{
    background-color: #121212;
    height:90px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    z-index: 9;
}

.nav-list{
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 28px;
}

.nav-list a{
    text-decoration: none;
    color:#DDD;
    padding: 28px;
}
.nav-list a:hover{
    color: white
}

/* Inicio do Main */

.main{
    width: 100%;
    background-color: #000;
    height: calc(100vh - 80px);
    background-image: url("images/programador.png");
    display: flex;
    align-items: center;
    padding-left: 10%;
}

.main h1{
    color: #FFFFFF;
    font: size 70px;
}
 
.main p{
    font-size: 24px;
    font-style: italic;
    color: #1e96FC;
    margin-top: 10px;
    margin-bottom: 35px;

}

.button1{
    cursor:pointer;
    background-color: #FFFFFF;
    border:0;
    padding: 14px;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    transition: 0.7s;
}

.button1:hover{
    transform: scale(1.1)
}

.main a{
   text-decoration: none;
   color: #181818; 
}

/* Inicio About */
.about{
    background-color: #FFFFFF;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.about div{
    max-width: 50%;
    padding-right: 40px;
}
.about img{
    width: 600px;
    height: 450px;
    border-radius: 8px;
}
.about div h2{
    font-size: 32px;
    margin-bottom: 14px;
}
/* Fim do About */

/* inicio project */

.projects{
    width: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
}

.projects h2{
    font-size: 22px;
    margin-bottom: 8px;
    margin-top: 20px;
}

.projects p{
    margin-bottom: 40px;
    font-style: italic;
}

.project-list{
    width: 100%;
    display: flex;
    margin-bottom: 8px;
    justify-content: center;
    align-items: center;
}

.projects img{
    width: 30%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    opacity: 0.8;
    transition: 1.5s;
}

.projects img:hover{
    opacity: 1;
}
.action{
    background-color: #181818;
    border: 0;
    padding: 12px 24px;
    color: #FFFFFF;
    margin-top: 18px;
    cursor: pointer;
}
/* Fim Project */

/* Inicio Rodape */

footer{
    width: 100%;
    background-color: #181818;
    padding: 70px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;

}

footer a{
    text-decoration: none;
    color: #FFFFFF;
}

footer p {
    margin-left: 14px;
}

/* Fim Rodapé */

/* Responsividade */

@media (max-width: 1050px){
    /* Inicio Main */
    .main h1{
        font-size: 45px;
    }
    .main p{
        font-size: 18px;
    }

    .main{
        background-size: cover;
    }

    /* Fim do Main */


    /* Inicio Sobre */
    .about{
        flex-direction: column;
        padding-top: 80px;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 10px;
    }
    .about div{
        max-width: 80%;
    }
    .about div h2{
        font-size: 45px;
    }
    .about img{
        width: 70%;
        height: 250px;
        margin-top: 30px;
    }

    /* Final do Sobre */

    /* Inicio projeto */

    .projects img{
        width: 27.5%;
    }

    /* Fim projetos */

    /* Inicio rodapé */

    footer{
        flex-direction: column;
    }

    footer h3{
        font-size: 24px;
        margin-bottom: 8px;
    }

    footer p{
        margin: 0;
    }



}
    
